* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #ffffff;
}

.image-menu img {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 18rem;
  height: 18rem;
}

.titulo-menu p {
  color: #7E33B7;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  top: 5rem;
  width: 100%;
}

.selector h3 {
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}

.border-menu {
  color: #FFFFFF;
  background-color: #7E33B7;
  position: relative;
  top: 5rem;
  width: 120rem;
  height: 45rem;
  margin: auto;
  background-color: #640BA7;
}

.border-menu ul li span {
  width: 30px; 
  height: 30px; 
  background-color: #A167C9;
}

.list-unstyled li {
  border: none;
  background-color: #7E33B7;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

ul.list-unstyled.mt-5 li {
  cursor: pointer;
}

ul.list-unstyled.mt-5 li:hover {
  background-color: #702ea3 ;
}

ul.list-unstyled.mt-5 li:active {
  background-color: #a545e9;
}

.questao {
  margin-right: 10px
}

@media (min-width: 300px ) and (max-width: 1680) {
  .border-menu {
      color: #FFFFFF;
      background-color: #7E33B7;
      top: 5rem;
      width: 120rem;
      height: 45rem;
      margin: auto;
      background-color: #640BA7;
    }
  
    .border-menu ul li span {
      width: 30px;
      height: 30px;
      background-color: #A167C9;
    }
}