* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #ffffff;
}

.image-prova img {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 18rem;
  height: 18rem;
}

.titulo-prova p {
  color: #7E33B7;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  top: 5rem;
  width: 100%;
}

.border-prova {
  color: #FFFFFF;
  background-color: #7E33B7;
  position: relative;
  top: 15rem;
}

.seletor-prova {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.quiz-card {
  background-color: #6a0dad;
  place-items: center;
  position: relative;
  color: white;
  border-radius: 10px;
  width: 130rem;
  top: 12rem;
}

.quiz-card .form-check-label {
  font-size: 1.2em;
  display: block;
}

.card-body {
    place-items: center;
    width: 125rem;
    height: 22rem;
    position: relative;
    color: white;
}

.card-title h3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

form {
  background-color: #7E33B7;
  position: relative;
  place-items: center;
  border-radius: 5px;
  padding: 2rem;
  height: 15rem;
  margin-bottom: 1rem;
}

.form-check {
  display: block;
  top: 1rem;
  position: relative;
}

.form-check-input {
  background-color: transparent;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  border-color: #A3E635;
}

.form-check-input:checked {
  background-color: #A3E635;
  border-color: #A3E635;
}

.respondidas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.respondidas .badge-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 282px;
  height: 56px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  background-color: #a1e72f;
  opacity: 1;
}


@media (min-width: 700px) {
  .card {
    display: flex;
    place-items: center;
    width: 120rem;
    height: 20rem;
    position: relative;
    color: white;
}

.card-body {
  display: block;
  place-items: center;
  width: 122rem;
  height: 20rem;
  color: white;
}

.rounded-circle {
  display: flex;
  border-radius: 50% !important;
  width: 30px; 
  height: 30px;
}
}