* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #ffffff;
}

.image-prova {
  display: flex;
  position: relative;
}

.image-prova img {
  width: 18rem;
  height: 18rem;
}

.titulo-prova p {
  color: #7E33B7;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  top: 5rem;
  width: 100%;
}

.respondidas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.respondidas .badge-secondary {
  display: flex;
  width: 282px;
  height: 56px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  background-color: #a1e72f;
}

.resposta-bonus {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.resposta-bonus .btn-primary {
  padding: 16px 24px;
  background-color: #640BA7;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  border-radius: 15px;
  border-color: transparent;
}

.resposta-bonus .btn-primary:hover{
  background-color: #7e10d1;
}

.resposta-bonus .btn-primary:active,
.resposta-bonus .btn-primary:focus {
  background-color: #640BA7;
}

.quiz-card {
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  width: 90rem;
  height: 20rem;
  margin-top: 1rem;
  margin-left: 20rem;
  color: white;
  background-color: #6a0dad;
}

.quiz-card .form-check-label {
  display: block;
  font-size: 1.2em;
}

.card-body {
  display: block;
  place-items: center;
  width: 92rem;
  height: 20rem;
  position: absolute;
  color: white;
}
.card-body h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}

.rounded-circle {
  display: block;
  width: 30px;
  height: 30px;
  left: 0.5rem;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #A167C9;
}

.form-chekagem {
  background-color: #7E33B7;
  position: relative;
  place-items: center;
  border-radius: 5px;
  padding: 2rem;
  height: 15rem;
  margin-bottom: 1rem;
}

.form-check {
  display: block;
  position: relative;
  top: 1rem;
}

.form-check-input {
  background-color: transparent;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  border-color: #A3E635;
}

.form-check-input:checked {
  background-color: #A3E635;
  border-color: #A3E635;
}

.botoes {
  display: flex;
  position:fixed;
  justify-content: center;
  margin-top: 8rem;
  left: 28%;
}

.botoes .btn-success, .btn-danger {
  margin-right: 60rem;
  display: inline-flex;
  padding: 16px 24px;
  background-color: #a1e72f;
  border-color: transparent;
  border-radius: 15px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.botoes .btn-success:hover {
  background-color: #97dd26;
  color: #000000;
  border-color: transparent;
}

.botoes .btn-success:active,
.botoes .btn-success:focus {
  background-color: #a1e72f;
  outline: none;
}

.botoes .btn-danger:hover {
  background-color: #97dd26;
  color: #000000;
  border-color: transparent;
}

.botoes .btn-danger:active,
.botoes .btn-danger:focus {
  background-color: #a1e72f;
  outline: none;
}
.footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  color: #6c757d;
}

@media (max-width:1366px) {
.titulo-prova p {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.image-prova img {
  width: 20rem;
  height: 20rem;
}

.quiz-card {
  margin-left: 15rem;
}

.botoes {
  margin-top: 5rem;
  left: 22%;
}
}

@media (min-width: 400px) and (max-width:900px) {
  .image-prova {
    display: flex;
    margin: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    }

  .image-prova img {
    width: 20rem;
    height: 20rem;
  }

  .titulo-prova p {
    position: absolute;
    margin-top: 15rem;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    width: 100%;
  }

.respondidas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.quiz-card {
  width: 40rem;
  height: 20rem;
  align-items: center;
  justify-content: center;
  place-items: center;
  margin-left: 1rem;
}

.card-body {
  width: 42rem;
  height: 20rem;
  align-items: center;
  justify-content: center;
  place-items: center;
  }

.botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  margin-top: 4rem;
  
}

.botoes .btn-success, .btn-danger {
  margin-right: 6rem;
}
}